
#my_logo{
  width: 250px;
}
.my-imgs {
  height: 765px;
  object-fit: cover;
}
.navbar {
  background-color: #ffffff00;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #3e2101;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 1.5em;
  color: #3e210169;
}

.carousel-caption {
  margin-bottom: 250px;
}

h5, h5 {
  font-size: 3.5rem;
}

p {
  font-size: 1.7rem;
}

.card-img {
  height: 450px;
  object-fit: cover;
}

.card-title {
  margin-top: 200px;
  display: flex;
  justify-content: center;
}
