
#my_logo{
  width: 250px;
}
.my-imgs {
  height: 765px;
  object-fit: cover;
}
.navbar {
  background-color: #f8f9fa85;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #3e2101;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 1.5em;
  color: #3e210169;
}

.carousel-caption {
  margin-bottom: 250px;
}

h5, h5 {
  font-size: 3.5rem;
}

p {
  font-size: 1.7rem;
  color: #fff;
}

.card-img {
  height: 450px;
}

.card-title {
  margin-top: 200px;
  display: flex;
  justify-content: center;
}

.jumbotron {
  background-color: #eab881;
  margin: 0;
}
.display-4 {
  color: #fff;
}
.footer {
  height: 100px;
  background-color: #eab881;
}
.parallax {
   /* The image used */
   background-image: url("../img/dream.jpg");

   /* Set a specific height */
   min-height: 500px; 
 
   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.img-one {
  background-image: url("../img/carousel/teepee.jpg");

   /* Set a specific height */
   min-height: 800px; 
 
   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}