@import "_varibles.scss";
@import "_mixins.scss";


.parallax-home {
    @include parallex();
    background-image: url("../img/home/home.jpg");
    min-height: 500px;
}
.img-slider {
    @include parallex();
    min-height: 800px;
}

.img-one-slider {
    background-image: url("../img/home/carousel/teepee.jpg");
}

.img-two-slider {
    background-image: url("../img/home/carousel/dreamcatcher.jpg");
}

.img-three-slider {
    background-image: url("../img/home/carousel/dancer.jpg");
}

.button {
    @include flex-jcenter-acenter();

    button {
        @include box-shadow-btn();
    }
}
.modal {
    top: 50px;
}
.modal-content {
    @include box-shadow-one();
    width: 100%;
}

#form_home_modal {
    background-color: $main-color;
    height: 375px;
}

.modal-header {
    background-color: $main-color;
    color: $white;
    font-size: 1em;
    .modal-title {
        width: 100%;
        text-align: center;
    }
}
#modal_title {
    font-size: 3em;
}

.modal-body {
    background-color: $main-color;
}

.modal-footer {
    background-color: $main-color;
}
