
//Main color
$main-color: #eab881;

//Secondary color
$sec-color: #3e2101;

//Secondar light color
$sec-light-color: #3e2101cc;

//Secondary super light color
$sec-slight-color: #3e210169;

//disply text colors
$white: #fff;