@import "_footer.scss";
@import "_home.scss";
@import "_services.scss";
@import "_contact.scss";
@import "_mixins.scss";
@import "_varibles.scss";

#my_logo{
    width: 250px;
}
 
// Home styles that overwrite bootstrap

.navbar {
    background-color: #f8f9fa85;
    @include box-shadow-one();
}
  
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: $sec-color;
}
  
.navbar-light .navbar-nav .nav-link {
    font-size: 1.5em;
    color: $sec-slight-color;
}
  
.carousel-caption {
    margin-bottom: 250px;
}
  
h5, h5 {
    font-size: 3.5rem;
}
  
p {
    font-size: 1.7rem;
    color: $white;
}

.card {
    position: inherit;
}

.card-img {
    height: 450px;
}

.card-title {
    text-align: center;
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.carousel-item {
    position: relative;
}

.carousel-inner .carousel-item {
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
  }

.jumbotron {
    @include box-shadow-one();
    position:relative;
    background-color: $main-color;
    margin: 0;
    text-align: center;
    hr {
        border-top: 5px solid rgba(0,0,0,.1)
    }
}

.display-4 {
    color: $white;
}

.btn-secondary {
    background-color: $sec-light-color;
    padding: 15px;
    font-size: 1.2em;
    border: none;
}

.btn-secondary:hover {
    background-color: $sec-color;
}

@media screen and (max-width: 900px) {
    #my_logo{
        width: 190px;
    }
    h5, h5 {
        font-size: 2.5rem;
    }
    p {
        font-size: 1.4rem;
        color: $white;
    }
    .display-4 {
        font-size: 2.2em;
    }
    .lead {
        font-size: 1.4em;
    }
    #modal_title {
        font-size: 2.2em;
    }
}

@media screen and (max-width: 600px) {
    #my_logo{
        width: 175px;
    }
    h5, h5 {
        font-size: 1.8rem;
    }
    p {
        font-size: 1rem;
        color: $white;
    }
    .display-4 {
        font-size: 1.8em;
    }
    .lead {
        font-size: 1em;
    }
    #modal_title {
        font-size: 1.8em;
    }
}

// services page overwrite for bootstrap

.card-img-overlay {
    display: flex;
    justify-content: center;
    align-content: center;
    position: static;
    height: 500px;
}


